@font-face {
    font-family: "Flexo Demi";
    src: url(fonts/flexo-demi-webfont.woff) format("woff");
}

@font-face {
    font-family: "Flexo Regular";
    src: url(fonts/flexo-regular-webfont.woff) format("woff");
}

* {
    padding: 0;
    margin: 0;
}

body {
    background: url(img/gplaypattern.png);
    background-repeat: repeat;
}

.hidden {
    display: none;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #C7C7C7;
    height: auto;
}

.titleContainer {
    align-self: center;
    padding-top: 30px;
}

.pokemonPokedexTitle {
    font-size: 30px;
    font-weight: none;
    font-family: "Flexo Demi";
    color: white;
}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
}

.selectFilter {
    font-size: 20px;
    font-family: "Flexo Regular";
    padding: 10px;
    width: 250px;
    margin-top: 20px;
    margin-left: 33px;
    background-image: linear-gradient(to bottom, #a8dd9c, #91d99c, #76d59f, #57d1a4, #24ccaa);
    border-radius: 10px;
    border: none;
    color: white;
}

option:hover {
    background-color: #a8dd9c
}

option {
    color: #24CCAA;
}

.searchInput {
    align-self: flex-end;
}

.searchBar {
    height: 40px;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
    font-size: 18px;
    font-family: "Flexo Regular";
    width: 250px;
    margin-top: 20px;
    margin-left: 33px;
}

#sidebar {
    position: fixed;
    text-align: center;
    width: 380px;
    left: -380px;
    height: auto;
    background-image: linear-gradient(to bottom, #a8dd9c, #91d99c, #76d59f, #57d1a4, #24ccaa);
    transition: all 0.75s ease-in-out;
}

#sidebar .toggle-btn {
    position: absolute;
    left: 410px;
    top: 30px;
    cursor: pointer;
}

#sidebar.active {
    left: 0;
}

#sidebar .toggle-btn span {
    display: block;
    width: 40px;
    text-align: center;
    font-style: bold;
    font-size: 30px;
    border: 3px solid rgb(41, 41, 41);
    color: rgb(41, 41, 41);
    background-color: white;
}

#sidebar ul li {
    font-family: "Flexo Regular";
    font-size: 25px;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid #fff;
    padding: 15px;
}

#sidebar ul li a {
    text-decoration: none;
    color: white;
}

#menuPokeball {
    max-width: 100px;
}

.screen1 {
    background-image: linear-gradient(to bottom, #24CCAA, #57D1A4, #76D59F, #91D99C, #A8DD9C);
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

.welcome {
    display: flex;
    flex-flow: wrap column;
    align-content: center;
    justify-content: space-between;
    font-family: "Flexo Regular";
    align-self: center;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 90%;
    background-color: #f1ffef6e;
    font-family: "Flexo Regular";
    color: rgb(95, 95, 95);
    margin-top: 30px;
    border-radius: 10px;
}

.pgLogo {
    align-self: center;
    width: 80%;
    padding-top: 25%;
    padding-bottom: 15%;
}

.welcomeToPokedex {
    font-family: "Flexo Demi";
    align-self: center;
    font-size: 20px;
    color: rgb(95, 95, 95);
    margin-bottom: 15px;
}

#loginIcon,
#lockIcon {
    width: 18px;
    opacity: 0.5;
    padding-left: 40px;
}

.inputContainer {
    align-self: center;
    margin-bottom: 15px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    background-color: rgba(255, 255, 255, 0.52);
}

.username,
.password {
    width: 50%;
    height: 15px;
    font-size: 20px;
    padding: 15px;
    font-family: "Flexo Regular";
    border-radius: 10px;
    border-style: none;
    background: none;
}

.sendInfo {
    align-self: center;
    font-size: 20px;
    padding: 20px;
    width: 250px;
    margin-top: 30px;
    margin-bottom: 40px;
    background: linear-gradient(180deg, #A8DD9C 0%, #24CCAA 100%);
    color: white;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    font-family: "Flexo Regular";
    font-weight: 500;
}

#secondPage {
    background-color: #F1F1F1;
    margin: 0% 20% 0% 20%;
    align-items: flex-start
}

.allCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 20px;
}

#pokemonImage {
    min-width: 200px;
    justify-content: space-around;
}

.kantoCard {
    background-image: linear-gradient(to bottom, #ead7ff, #dfc3ff, #ddbfff, #d6b1ff, #cb9dff);
    font-family: "Flexo Regular";
    color: #fff;
    width: 190px;
    height: 300px;
    padding: 30px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.johtoCard {
    background-image: linear-gradient(to bottom, #ccd6fd, #c8d6fd, #B0C6FA, #A9C3F9, #94b6f1);
    font-family: "Flexo Regular";
    color: #fff;
    width: 190px;
    height: 300px;
    padding: 30px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

#pokemonCp {
    font-family: "Flexo Demi";
    font-size: 25px;
    text-align: center;
    font-weight: 500;
    padding-bottom: 10px;
}

small {
    font-family: "Flexo Regular";
    font-size: 18px;
}

#pokemonNum {
    font-size: 20px;
}

#pokemonName {
    font-family: "Flexo Demi";
    font-size: 20px;
}